import init.roamer.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

on init
    mkdir /sqlite_stmt_journals 01777 root root
    mount tmpfs tmpfs /sqlite_stmt_journals size=4m
    chmod 01770 /sqlite_stmt_journals

    chmod 0660 /sys/bus/platform/drivers/msm-battery/usb_chg_enable
    chmod 0660 /sys/bus/platform/drivers/msm-battery/enable_to_shutdown
    chmod 0660 /proc/gpiowake
    chmod 0660 /proc/zte_alarm
    chmod 0660 /sys/kernel/debug/gpio/gpio_get
    chmod 0660 /sys/kernel/debug/gpio/gpio_out_l
    chmod 0660 /sys/kernel/debug/gpio/gpio_out_h

    chown root system /sys/bus/platform/drivers/msm-battery/usb_chg_enable
    chown root system /sys/bus/platform/drivers/msm-battery/enable_to_shutdown
    chown root system /proc/gpiowake
    chown root system /proc/zte_alarm
    chown root system /sys/kernel/debug/gpio/gpio_get
    chown root system /sys/kernel/debug/gpio/gpio_out_l
    chown root system /sys/kernel/debug/gpio/gpio_out_h   

on post-fs

    # SD card polling
    chown system system /sys/module/g_android/parameters/product_id
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/android_usb/composition
    chown system system /sys/devices/platform/android_usb/remote_wakeup

    # wifi
    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0770 wifi wifi
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf

    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 system wifi
    mkdir /data/system 0775 system system
#   symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant

    mkdir /data/misc/wifi/sockets 0770 wifi wifi    
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    mkdir /data/radio 0770 radio radio

    #irdeto: begin
    # create the OMA directories, so as to enforce our permissions
    mkdir /data/oma 1777
    chmod 1777 /data/oma
    #irdeto: end

    #change product_id prio
    chown root system /sys/module/g_android/parameters/product_id
    chmod 0664 /sys/module/g_android/parameters/product_id

on boot
    # Setup android gadget
    write /sys/module/g_android/parameters/serial_number roamer
    write /sys/module/g_android/parameters/product_id 0x1351

    # Enable MASS storage on SDCARD
    write /sys/devices/platform/mass_storage/lun0/file /dev/block/mmcblk0p1
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 1

    setprop bt.chip.type BCM_2070

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    chmod 0774 /dev/akm8962_aot
    chmod 0774 /dev/akm8962_dev

    chmod 0774 /dev/si4708

    mkdir /data/misc/prox 0777 radio radio   
    chmod 0774  /dev/taos

    setprop ro.opengles.version 131072

    chown system system /sys/devices/platform/msm_hsusb_periphera/composition

    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink

    write /sys/class/leds/red/brightness 255
    write /sys/class/leds/red/blink 0
    write /sys/class/leds/green/blink 1
    write /sys/class/leds/green/brightness 255

    chown root system /sys/bus/i2c/drivers/ti-fuel-gauge/enable
    chown root system /sys/bus/i2c/drivers/ti-fuel-gauge/upmode
    chown root system /sys/bus/i2c/drivers/ti-fuel-gauge/Control

service start_usb0 /system/bin/logwrapper /system/bin/sh /etc/start_usb0.sh
    class main
    disabled
    oneshot

service akmd /system/bin/akmd8962
    class main
    user root
    oneshot

service qmuxd /system/bin/qmuxd
    class main

service prox_cal /system/bin/prox
    class main
    oneshot

service uinit /system/bin/uinit
    class main
    oneshot

on property:dev.bootdone=1
    start prox_cal
    start uinit

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start abtfilt

on property:init.svc.bluetoothd=stopped
    stop abtfilt

service hci_qcomm_init /system/bin/log -t qcom-bluetooth -p i "hci_qcomm_init service requested"
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hciattach /system/bin/logwrapper /system/bin/brcm_patchram_plus --enable_hci --baudrate 3000000 \
--patchram /system/bin/BCM2070B0_002.001.032.0518.0520.hcd /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled 

on property:persist.sys.wifi.wl=1
    mkdir /data/wifi
    start wifi_wl_test

on property:persist.sys.wifi.wl=0
    stop wifi_wl_test

service wifi_wl_test /system/bin/sh /system/etc/wifi_wl_test.sh
    class main
    user root
    disabled
    oneshot

service wlan_prop /system/bin/sh /system/etc/init.wlanprop.sh
    class main
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -iwlan0 -c /data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet dhcp
    disabled
    oneshot 

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service ckpd /system/bin/CKPD-daemon
    class main
    onrestart /system/bin/log -t RIL-CKPD -p w "CKPD daemon restarted"

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    class main

service pppd /system/bin/pppd file /data/data/zte.com.android.ppptunl/pppd.conf
    class main
    user root
    oneshot
    disabled
